/* Reset & basic styles */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background: 
    linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), /* 白の半透明 */
    url('/images/background/background.jpg'); /* 下の画像 */
  background-size: cover;   /* 全面に広げる */
  background-position: center;
  background-repeat: no-repeat;
}

/* Header */
header {
  display: flex;
  justify-content: space-between; /* 左右に振り分け */
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.8); /* 不透明度80% */
  color: white;
}
.logo {
  font-size: 30px;
  right: 0;
  font-weight: 800;
  padding-left: 14px;
}
.logo a {
  color:#fff;
  text-decoration: none;
}
.hamburger-menu {
  right: 0;
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
}
.hamburger-menu__bar {
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}
.hamburger-menu__bar:first-child {
  top: 16px;
}
.hamburger-menu__bar:nth-child(2) {
  top: 24px;
}
.hamburger-menu__bar:last-child {
  top: 32px;
}
.hamburger-menu--open .hamburger-menu__bar {
  top: 50%;
}
.hamburger-menu--open .hamburger-menu__bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu--open .hamburger-menu__bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
}
.navigation {
  display: none;
  background: rgba(0, 0, 0, 0.8); /* 不透明度80% */
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.navigation__list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__list-item {
  border-bottom: solid 1px #474747;
}
.navigation__list-item:first-child {
  border-top: solid 1px #474747;
}
.navigation__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: .5s;
}
@media (hover: hover) and (pointer: fine) {
  .navigation__link:hover {
    background: #333;
  }
}
/* Main content */
main {
  display: flex;
  min-height: 80vh;
  position: relative;
}
.main-contents {
  position: relative;
  margin-left: 60px; /* サイドバー分 */
  width: calc(100% - 60px); 
}
section.contents {
  margin: 80px;
}
h3.title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
}
.slider {
  position: relative;
  margin-left: 60px; /* サイドバー分 */
  width: calc(100% - 60px); 
  padding-top: 56.25%; /* 16:9 */
  overflow: hidden;
}
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.slider img.active { display: block; }

/* Sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left:0;
  width: 60px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5)
}

/* SNS Sidebar */
.sns-sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}
.sns-sidebar a img {
  width: 40px;
  height: 40px;
}

/* Footer */
footer {
  bottom: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8); /* 不透明度80% */
  color: #ffffffae;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Yu Mincho', '游明朝', serif;
  font-weight: 300;
  font-size:x-small;
}
footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
footer .footer-links li a {
  color: #ffffffae;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
footer .footer-links li a:hover {
  color: #f0a500;
}
footer p {
  font-size: xx-small;
  padding: 3px;
}
footer a {
  color: #ffffffae;
  text-decoration: none;
  font-weight:lighter;
  transition: color 0.3s;
}

/*　TODO サイズが大きいときにnavがdisplay:noneになってたら強制的に表示するようにする */